{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="uk-tile uk-tile-default uk-padding-small">Charger des commandes en vanilla JS</h1>
  <!-- Filtre des commandes -->
  <form>
    <label for="order-filter">Filtre des commandes :</label>
    <select id="order-filter">
      <option value="">-- Filtre par statut ---</option>
      <option value="new">new</option>
      <option value="shipped">shipped</option>
      <option value="canceled">canceled</option>
    </select>
  </form>
  <!-- Liste des commandes -->
  <ul id="orders"></ul>

  <script type="application/javascript">
      const api = fetch('/api/orders/random/')
          .then(response => {
              if (response.ok) {
                  return response.json();
              } else {
                  throw new error('Could not read api')
              }
          }).then(data => {
              data.forEach(element => {
                  let template = document.getElementById('order-line');
                  let clone = document.importNode(template.content, true);

                  clone.querySelector('li').setAttribute('data-status', element.status);
                  clone.querySelector('.order-id').textContent = element.id;
                  clone.querySelector('.order-date').textContent = new Date(element.created_at).toLocaleDateString();
                  clone.querySelector('.order-customer').textContent = element.firstname;
                  clone.querySelector('.order-status').textContent = element.status;

                  document.getElementById('orders').appendChild(clone);
              })

              return true;
          }).then(data => {
              document.getElementById('order-filter')
                  .addEventListener('change', (event) => {
                      const status = event.target.value;

                      document.querySelectorAll('li')
                          .forEach($value => {
                              $value.style.display =
                                  !status || $value.getAttribute('data-status') === status ? 'block' : 'none';
                          })
                  });
          }).catch(err => console.error(err));
  </script>
  <!-- Template -->
  <template id="order-line">
    <li data-status="">
      <span class="order-id" style="display: inline-block; width: 50px;"></span>
      <span class="order-date" style="display: inline-block; width: 250px;"></span>
      <span class="order-customer" style="display: inline-block; width: 300px;"></span>
      <span class="order-status" style="display: inline-block; width: 100px;"></span>
    </li>
  </template>
{% endblock %}